<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to my simple Blog app :)</h1>
    <p class="lead">Hope you like it!</p>
    <div class="row">
      <div class="col-lg-6">
        <a class="btn btn-primary" href="/signup">Sign Up</a>
        <a class="btn btn-secondary" href="/login">Login</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
